/* ---------------------------------------------------------------------
 Wrap
------------------------------------------------------------------------ */
$hdg-FONT_BASE: 14;
$hdg-FONT_REG: (14 / $hdg-FONT_BASE) * 1rem;
$hdg-FONT_PRIME: (24 / $hdg-FONT_BASE) * 1rem;

.hdg {
    display: block;
    font-size: $hdg-FONT_REG;
    font-weight: 700;
}

.hdg_1 {
    font-size: $hdg-FONT_PRIME;
    color: #e96900;
    text-align: center;
}