/* ---------------------------------------------------------------------
 Elements Styles
------------------------------------------------------------------------ */

html,
body {
    height: 100%; // allows for a full extension of body content so footer sits at the bottom
    font-family: 'Open Sans', 'Heletica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.3;
    background-color: #f2f6fb;
}
