<template>
<div class="blocks blocks_3up mix-blocks_alnCenter">
    <div>
        <div class="panel">
            <input name="new item"
                placeholder="New Item"
                type="text"
                class="fields"
                v-model.trim="newItem"
                v-on:keyup.enter="addItemToList()" />
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            newItem: null,
        };
    },
    methods: {
        addItemToList() {
            const addItem = this.newItem;

            this.$emit('addtodo', addItem);
            this.newItem = null;
        }
    },
};
</script>