<div class="vr vr_2x">
    <div class="blocks blocks_3up mix-blocks_alnCenter">
        <div v-if="masterList.length > 0">

            <ul>
                <li class="panel" v-for="(item, index) in masterList">
                    <label class="grid">
                        <div class="grid-col grid-col_3of12">
                            <div class="fields fields_checkCirc">
                                <input
                                    type="checkbox"
                                    name="Item Status"
                                    class="fields_checkCirc-state"
                                    v-bind:id="item.name.replace(' ', '_')"
                                    v-model="item.complete" />
                                <span class="fields_checkCirc-label"></span>
                            </div>
                        </div>
                        <div class="grid-col grid-col_9of12">
                            <p class="primeItem">{{ item.name }}</p>
                        </div>
                    </label>
                </li>
            </ul>

        </div>
        <div v-if="masterList.length === 0">
            <div class="panel">
                <p class="vr">There are currently no items in your list.</p>
                <button type="button" class="btn" v-on:click="loadSampleList">Load Sample List</button>
            </div>
        </div>
    </div>
</div>