/* ---------------------------------------------------------------------
 Blocks
------------------------------------------------------------------------ */
$blocks-MAX_COUNT: 10;
$blocks-GAP: 10px;

.blocks {
    display: block;
    margin: 0 ($blocks-GAP * -1);
    font-size: 0;
    text-align: left;
}

.blocks > * {
    display: inline-block;
    width: 100%;
    padding: 0 $blocks-GAP;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: left;
    vertical-align: top;
}

.blocks_list > * {
    width: auto;
}

@for $i from 1 through $blocks-MAX_COUNT {
    $_blocks-SIZE: ($i / $blocks-MAX_COUNT) * 100%;

    .blocks_#{$i}up > * {
        width: $_blocks-SIZE;

        &:nth-child(n+#{$i}) {
            padding-top: $blocks-GAP;
        }
    }
}

.mix-blocks_alnCenter {
    text-align: center;
}

.mix-blocks_alnRight {
    text-align: right;
}

.mix-blocks_alnBottom > * {
    vertical-align: bottom;
}

.mix-blocks_alnMiddle > * {
    vertical-align: middle;
}