/* ---------------------------------------------------------------------
 Grid
------------------------------------------------------------------------ */
$grid-MAX_COUNT: 12;
$grid-GAP: 10px;

.grid {
    display: block;
    margin-left: ($grid-GAP * -1);
    font-size: 0;
    text-align: left;
}

.grid-col {
    display: inline-block;
    width: 100%;
    padding-left: $grid-GAP;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: left;
    vertical-align: top;
}

@for $i from 1 through $grid-MAX_COUNT {
    $_grid-SIZE: ($i / $grid-MAX_COUNT) * 100%;

    .grid-col_#{$i}of#{$grid-MAX_COUNT} {
        width: $_grid-SIZE;
    }
}

.mix-grid_alnCenter {
    text-align: center;
}

.mix-grid_alnRight {
    text-align: right;
}

.mix-grid_alnBottom > * {
    vertical-align: bottom;
}

.mix-grid_alnMiddle > * {
    vertical-align: middle;
}