/* ---------------------------------------------------------------------
 Vertical Rhythm
------------------------------------------------------------------------ */
$vr-SPACER_BASE: 10px;
$vr-SPACER_2X: ($vr-SPACER_BASE * 2);
$vr-SPACER_3X: ($vr-SPACER_BASE * 3);
$vr-SPACER_4X: ($vr-SPACER_BASE * 4);

.vr {
    margin-bottom: $vr-SPACER_BASE;
}

.vr_2x {
    margin-bottom: $vr-SPACER_2X;
}

.vr_3x {
    margin-bottom: $vr-SPACER_3X;
}

.vr_4x {
    margin-bottom: $vr-SPACER_4X;
}
