/* ---------------------------------------------------------------------
 Wrap
------------------------------------------------------------------------ */

.wrap {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
}