/* ---------------------------------------------------------------------
 Button
------------------------------------------------------------------------ */
$btn-FONT: (16 / 14) * 1rem;

.btn {
    background-color: #4A8DCA;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: $btn-FONT;
    font-weight: 700;
    line-height: 1.2;
    padding: 15px;
    text-align: center;
    width: 100%;
    -webkit-transition: all 400ms ease;
            transition: all 400ms ease;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    background-color: #67A84F;
}