/* ---------------------------------------------------------------------
 Fields
------------------------------------------------------------------------ */
$fields-FONT_SIZE: (14 / 14) * 1rem;
$fields-CHECK_FONT_SIZE: 14px;
$fields-CHECK_IND_WIDTH: 16px;
$fields-CHECK_CORNER: 5px;
$fields-CHECK_BRDR_WIDTH: 1px;
$fields-CHECK_COLOR_BRDR: #0071c6;
$fields-CHECK_COLOR: #ffffff;
$fields-CHECK_PAD: 6px;
$fields-CHECK_COLOR_DISABLED: #e8e8e8;
$fields-CHECK_COLOR_DISABLED_BRDR: #b9b9b9;

.fields {
    border: 1px solid #9fa6ae;
    border-radius: 3px;
    box-sizing: border-box;
    color: #666666;
    display: block;
    font-size: $fields-FONT_SIZE;
    padding: 0px 10px;
    height: 35px;
    width: 100%;
}

.fields + .fields {
    margin-top: 20px;
}

.fields:focus {
    outline: none;
    border-color: #cccccc;
}

.fields::-webkit-input-placeholder {
    color: #bbbbbb;
    font-size: $fields-FONT_SIZE;
    line-height: 16px;
    font-style: italic;
}

.fields_label {
    display: block;
}

.fields_checkCirc {
    display: block;
    width: auto;
    height: auto;
    position: relative;
    border-width: 0;
    background: transparent none;
}

.fields_checkCirc + .fields_checkCirc {
    margin-top: 10px;
}

.fields_checkCirc-state {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
}

.fields_checkCirc > * {
    vertical-align: middle;
}

.fields_checkCirc-label {
    display: inline-block;
    padding-left: ($fields-CHECK_IND_WIDTH + 8);

    &:before,
    &:after {
        content: "";
        display: inline-block;
        width: $fields-CHECK_IND_WIDTH;
        height: $fields-CHECK_IND_WIDTH;
        border: 1px solid $fields-CHECK_COLOR_BRDR;
        box-sizing: border-box;
        background: #ffffff none;
        position: absolute;
        top: 50%;
        left: 0;
        border-radius: 100%;
        transform: translate(0, -50%);
    }

    &:before {
        border-color: #ffffff;
        border-width: ($fields-CHECK_IND_WIDTH / 2);
        background-color: $fields-CHECK_COLOR_BRDR;
        transition: all 0.3s ease;
    }

    &:after {
        background-color: transparent;
    }
}

.fields_checkCirc-state:checked + .fields_checkCirc-label {
    &:before {
        border-width: ($fields-CHECK_IND_WIDTH / 4);
    }
}