/* ---------------------------------------------------------------------
 Panel
------------------------------------------------------------------------ */

.panel {
    padding: 20px;
    background: #ffffff;
    border: 1px solid #bec6ce;
}

.panel + .panel {
    border-top-width: 0;
}