{{#extend "layout"}}
    {{#content "body" mode="append" }}
        <div class="wrap" data-app="vueTutorial">
            <list-title></list-title>

            <div class="vr vr_2x">
                <item-input
                    v-on:addtodo="addNewTodo">
                </item-input>
            </div>

            <todo-list
                v-bind:master-list="todoList"
                v-on:sample="loadSampleList">
            </todo-list>
        </div>
    {{/content}}
{{/extend}}
